<ion-header>
  <ion-toolbar>
    <ion-title>Internationalization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-button [routerLink]="['/internationalization/multi-language-support']">
      Multi-language Support
    </ion-button>
    <ion-button [routerLink]="['/internationalization/right-to-left-layout']">
      Right to Left Layout
    </ion-button>
    <ion-button [routerLink]="['/internationalization/number-date-currency-formatting']">
      Number, Date, Currency Formatting
    </ion-button>
  
</ion-content>