<ion-header>
  <ion-toolbar>
    <ion-title>Touch Gestures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-button [routerLink]="['/touch-gestures/basic-tap-gestures']">
      Basic Tap Gestures
    </ion-button>
    <ion-button [routerLink]="['/touch-gestures/swipe-gestures']">
      Swipe Gestures
    </ion-button>
    <ion-button [routerLink]="['/touch-gestures/drag-and-drop']">
      Drag and Drop
    </ion-button>
    <ion-button [routerLink]="['/touch-gestures/pinch-to-zoom']">
      Pinch to Zoom
    </ion-button>
  
</ion-content>