<ion-header>
  <ion-toolbar>
    <ion-title>User Feedback Handling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-button [routerLink]="['/user-feedback-handling/toast-messages-and-snackbars']">
      Toast Messages and Snackbars
    </ion-button>
    <ion-button [routerLink]="['/user-feedback-handling/loading-indicators']">
      Loading Indicators
    </ion-button>
    <ion-button [routerLink]="['/user-feedback-handling/error-message-handling']">
      Error Message Handling
    </ion-button>
    <ion-button [routerLink]="['/user-feedback-handling/haptic-feedback']">
      Haptic Feedback
    </ion-button>
  
</ion-content>