<ion-header>
  <ion-toolbar>
    <ion-title>UI Customization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-button [routerLink]="['/ui-customization/global-theming-support']">
      Global Theming Support
    </ion-button>
    <ion-button [routerLink]="['/ui-customization/dark-mode-support']">
      Dark Mode Support
    </ion-button>
    <ion-button [routerLink]="['/ui-customization/component-styling-flexibility']">
      Component Styling Flexibility
    </ion-button>
    <ion-button [routerLink]="['/ui-customization/platform-consistency-vs-adaptation']">
      Platform Consistency vs Adaptation
    </ion-button>
  
</ion-content>