<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-button [routerLink]="['/accessibility']">
        Accessibility
      </ion-button>
      <ion-button [routerLink]="['/ui-customization']">
        UI Customization
      </ion-button>
      <ion-button [routerLink]="['/user-feedback-handling']">
        User Feedback Handling
      </ion-button>
      <ion-button [routerLink]="['/touch-gestures']">
        Touch Gestures
      </ion-button>
      <ion-button [routerLink]="['/internationalization']">
        Internationalization
      </ion-button>
  </div>
</ion-content>